* {
    box-sizing:border-box ;
}

body {
    background-color: rgb(6, 123, 196);
    background-image: linear-gradient(315deg, lightcyan 0%, lightgreen 100%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}

.quiz-container {
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px;
    width: 600px;
    overflow: hidden;
}
.quiz-header {
    padding: 4rem;
}

.question{
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2 rem;
    margin: 1rem;

}

ul li label {
    cursor: pointer;
}

button {
    background-color: bisque;
    color: burlywood;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:1.3rem ;
    transition:transform 2.0sec ease;
}

button:hover {
    background-color: rgb(139, 60, 139);
}

button:focus {
   outline: none;
   background-color: lightgreen; 
}
